@import "footer.css";
@import "header.css";
body {
  margin: 0;
}
.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.slide .title {
  font-size: 28px;
  padding: 5px 40px;
  border: #FFB801 solid 0;
  border-bottom-width: 3px;
  margin: 0.8vmax 0;
}
.slide a {
  display: flex;
  text-decoration: none;
  color: #333333;
  flex-wrap: wrap;
}
.slide a:hover {
  text-decoration: underline;
}
.slide .line {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.slide .line .arrow1,
.slide .line .arrow2 {
  padding: 2vmax;
  margin: auto 0;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}
.slide .line .arrow1 div,
.slide .line .arrow2 div {
  width: 0.7vmax;
  height: 2.4vmax;
  background-color: #FFB801;
  border-radius: 5px;
  transition: all 0.5s;
  margin: 0;
}
.slide .line .arrow1 .l1,
.slide .line .arrow2 .l1,
.slide .line .arrow1 .l4,
.slide .line .arrow2 .l4 {
  transform: rotate(45deg);
  margin: -1.2vmax 0;
}
.slide .line .arrow1 .l2,
.slide .line .arrow2 .l2,
.slide .line .arrow1 .l3,
.slide .line .arrow2 .l3 {
  transform: rotate(-45deg);
}
.slide .line .arrow1:hover,
.slide .line .arrow2:hover {
  transition: all 0.5s;
  cursor: pointer;
  margin: auto 1vmax;
}
.slide .line .arrow1:hover div,
.slide .line .arrow2:hover div {
  width: 0.8vmax;
  height: 2.5vmax;
}
.slide .line .block1,
.slide .line .block2,
.slide .line .block3 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: fit-content;
  width: 25vmax;
  background-color: #FFB801;
  margin: 1vmax 2vmax;
  border-radius: 50px;
  padding: 3vmax;
}
.slide .line .block1 div,
.slide .line .block2 div,
.slide .line .block3 div {
  margin: 0.4vmax 0;
}
.slide .line .block1 .money,
.slide .line .block2 .money,
.slide .line .block3 .money {
  font-size: 22px;
  text-align: center;
}
.slide .line .block1 img,
.slide .line .block2 img,
.slide .line .block3 img {
  margin: 0 auto 0.4vmax auto;
  transition: all 0.5s;
}
.slide .line .block1 .markers,
.slide .line .block2 .markers,
.slide .line .block3 .markers {
  display: flex;
  flex-wrap: wrap;
}
.slide .line .block1 .bike,
.slide .line .block2 .bike,
.slide .line .block3 .bike {
  height: 15vmax;
  width: 15vmax;
}
.slide .line .block1 .bike:hover,
.slide .line .block2 .bike:hover,
.slide .line .block3 .bike:hover {
  transition: all 0.5s;
  height: 14.5vmax;
  width: 14.5vmax;
}
.slide .line .block1 .news,
.slide .line .block2 .news,
.slide .line .block3 .news {
  height: 11vmax;
  width: 16vmax;
  border-radius: 50px;
}
.slide .line .block1 .news:hover,
.slide .line .block2 .news:hover,
.slide .line .block3 .news:hover {
  transition: all 0.5s;
  height: 10.5vmax;
  width: 15.5vmax;
}
.slide .line .block1 .name,
.slide .line .block2 .name,
.slide .line .block3 .name {
  margin: 0.4vmax 0;
  font-size: 22px;
  text-decoration: none;
  color: #00080e;
}
.slide .line .block1 .name:hover,
.slide .line .block2 .name:hover,
.slide .line .block3 .name:hover {
  text-decoration: underline;
}
.slide .line .block1 .button,
.slide .line .block2 .button,
.slide .line .block3 .button {
  background-color: #0079d1;
  color: white;
}
.slide .line .block1 .button:hover,
.slide .line .block2 .button:hover,
.slide .line .block3 .button:hover {
  color: #00080e;
}
.slide .line .block1 .button ::selection,
.slide .line .block2 .button ::selection,
.slide .line .block3 .button ::selection {
  background-color: #FFB801;
  color: #00080e;
}
/*# sourceMappingURL=catalog.css.map */